:root{
  --primary-color: #006AA3;
  --secondary-color: #93CC99;
  --background-color: #FFFFFF;
  --background-color2: #EDEDDD;
  --black: #000000;
  --project-font-family: 'Montserrat', sans-serif;
}

.global-style {
    background-color: var(--background-color2);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow: auto;
    max-width: 100%;
}
