<div id="header-div">
    <img  src="sitec-logo-no-bg.png"  id="main-logo">
    <div id="sitec-div">
        <p id="sitec-header">SITEC</p>
        <p id="sitec-tag-header">O futuro é agora!</p>
    </div>
    <div id="search-div">
        <img src="search.svg">
    </div>
    <div id="buttons-header">
        <a class="button-header user-icon">Login</a>
        <a class="button-header register-icon">Cadastrar</a>
        <a class="button-header contact-icon">Contato</a>
        <a class="button-header about-icon" >Sobre nós</a>
    </div>
  </div>
