:root{
    --primary-color: #006AA3;
    --secondary-color: #93CC99;
    --background-color: #FFFFFF;
    --black: #000000;
    --project-font-family: 'Montserrat', sans-serif;
  }

  /* #header-div define as propriedades do header */

  #header-div {
    background-color: var(--primary-color);
    height: 7rem;
    border-radius: 0 0 2.5rem 2.5rem;
    box-shadow: 0px 5px 5px 0px rgb(255, 255, 255);
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* #main-logo define o tamanho do logo */

  #main-logo{
    width: 7rem;
    margin-left: 2rem
  }

  /* #sitec-div define o espacamento entre o logo e a frase "SITEC" */

  #sitec-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 6.5rem;
    margin-top: -0,5rem;
  }

  /* #sitec-tag-header define parametros para a frase " SITEC " */

  #sitec-header{
    font-size: 2.5rem;
    color: var(--background-color);
    margin-top: -0.2rem;
    font-weight: 900;
  }

  /* #sitec-tag-header define parametros para a frase " O futuro é agora!" */

  #sitec-tag-header{
    color: var(--background-color);
    font-size: 1.5rem;
    margin-top: -2rem;
  }

  /* #sitec-tag-header define parametros dos botoes do header */

  #buttons-header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-size-adjust: auto;
  }


  .button-header{
    height: 1.4rem;
    background-color: var(--background-color);
    width: 7rem;
    color: var(--black);
    margin-right: 5rem;
    border-radius: 2rem;
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
  }

  #sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  #search-div{
    width: 14.5rem;
    background-color: var(--background-color);
    height: 1.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    padding: 0.2rem;
    border-radius: 2rem;
  }

.user-icon {
  background-image: url('../../../public/user.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 1rem;
  background-position: 10%;
}

.register-icon {
  background-image: url('../../../public/register.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 1rem;
  background-position: 10%;
}

.contact-icon {
  background-image: url('../../../public/contact.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 10%;
}

.about-icon {
  background-image: url('../../../public/about.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 10%;
}
